.container{
    background-image: url('fast-food.webp');
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sec{
    width: 25vW;
    height: 100VH;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.link1 {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: rgba(117, 117, 15, 0.159);
}
.menu {
    background-image: url('fast-food.webp');
    height: 250vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
  
}
img{
    width: 30vw;
    height: 30vh;
    border-radius: 30%;
    border-style:dotted; color: rgba(255, 255, 224, 0.303);
}

.sec3{
    background-image: url('fast-food.webp');
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    display: grid;
}
.contact{
    background-image: url('fast-food.webp');
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;

}
#contact{
 
    margin: auto;

}