@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    font-family: 'Bebas Neue', cursive; 
}
.container{
    background-image: url('fast-food.webp');
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}
#great-food:hover{
    transform:skew(20deg);
    color: brown;
    background-color: rgba(238, 238, 16, 0.716);
font-size: larger;
}
#call:hover{
transform: skew(20deg);
color: brown;
background-color: rgba(238, 238, 16, 0.716);
font-size: larger;
}
#order-now:hover{
    background-color: rgba(238, 238, 16, 0.716);
    color: brown;
  

}
.box1{
    position: relative;
    z-index: 21;
}
.home{
    width: 25vW;
    height: 95VH;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.236);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-width: min-content;
}
.link1 {
    font-family: 'Bebas Neue', cursive; 
    color: black;
    height: 5VH;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: rgba(255, 5, 5, 0.03);
    text-decoration:  none;
    height: 0.1vh;
} 
a{
    text-decoration: none;
}
a:visited {
        color: rgb(0, 0, 0); 
    }
    a:hover {
   background-color: rgba(255, 255, 0, 0.326);
 border-style:solid;
   height: 20px;
      }
body{
    margin: 0;
}
.menu {
    background-image: url('fast-food.webp');
    height: 320vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#menu:hover{
    color: rgba(193, 193, 36, 0.842)
    ; transition-duration: 2s;
    transform:rotate(4deg)
}
h3#img1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    float: center;  
    font-family: 'Tangerine', serif;
    font-size: 40px;
}
img{
    width: 20vw;
    height: 20vh;
    border-radius: 50%;
    border-style:solid; color: rgba(255, 255, 224, 0.303);
    display: block;
}
hr{
    border: 1px solid rgba(248, 255, 39, 0.516); 
    width: 255px;  
  }
  #gluten{
    position: relative;
    left: 2%;
    bottom: 7%;
  }
  span{
    display: none;
    background-color: gold;
    padding: 10px;
}
  img:hover{
    transition-duration: 2s;
    color: red;
    transform: scale(1.2);
  }
  
.about{
    background-image: url('fast-food.webp');
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    display: grid;}
    #loremipsum:hover{
        color: brown;
    }
    
.contact{
    background-image: url('fast-food.webp');
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#contact-h2{
    margin: auto
}
#img2{
    float: center;
}
.food{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.food:hover span{
    display: block;
}

.con{
    display: flex;
    flex-direction: column;
    align-items: center; 
}
input{
    width: 40vh;
}
ul li:hover{
    color: yellow;
} 
@media only screen and (max-width:768px){
    .container{
        height: max-content;
    }
    img{
    height: 30vh;
    width: 50vw;
    }
    .box1{
        background-image: url('mobile-back.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    } 
    @media only screen and (max-width:768px){
    #menu{
        background-image: url('menu.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: max-content;
       
     
    } 
    #about{
        background-image: url('fast-food.webp');
        height: max-content;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin: auto;
        align-content: end;  
    }
   
#contact1
        {background-image: url('fast-food.webp');
        height: 100vh;
        width: 100vw;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        }
        #loremipsum{
         height: 100vh;
font-size: 0.8rem;

        }
    }
    #gluten{
        position: relative;
        left: 2%;
        bottom: 3%;
    }
   
    #contact{
        position: relative;
       top: 3%;
    }
#send{
    background-color: yellow;
}
    

    
    
    