.container{
    background-image: url('fast-food.webp');
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sec{
    width: 25vW;
    height: 100VH;
    text-align: center;
    background-color: rgba(6, 6, 3, 0.215);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.link1 {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: rgba(255, 234, 5, 0.03);
}
.menu {
    background-image: url('fast-food.webp');
    height: 250vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
  
}
img{
    width: 30vw;
    height: 30vh;
    border-radius: 30%;
    border-style:dotted; color: rgba(255, 255, 224, 0.303);
}

.sec3{
    background-image: url('fast-food.webp');
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    display: grid;
}
.contact{
    background-image: url('fast-food.webp');
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;

}
#contact{
 
    margin: auto;

}
#img1{
    float: center;  
}
#img2{
    float: center;
}